@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  display:grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* grid-template-rows: repeat(3, 150px); */
}

header{
  width: 100%;
  /* height: 30px; */
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

main{
  display:grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(1, 1fr);
  width: 100%;
  height: 92vh;
  text-transform: uppercase;
}

.leftpage {
  background-color: rgb(0, 222, 41);
  color: white;
  font-size: 24px;
  display:grid;
  grid-template-columns: 100%; 
  grid-template-rows: 10% 85% 5%;
}

.leftpage > div:nth-child(1){
  /* background-color: #FF1502; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.leftpage > div:nth-child(2){
  /* background-color: #FFC904; */
  width: 100%;
}
.leftpage > div:nth-child(3){
  /* background-color: #1c3eff; */
  display: grid;
  grid-template-columns: 60% 20% 100px;
  justify-content:space-between;
  align-items: center;
  /* overflow: ; */
  width: 100%;
}

.rightpage {
  background-color: #6C1CFF;
  color: white;
  font-size: 24px;
  display:grid;
  grid-template-columns: 100%; 
  grid-template-rows: 10% 85% 5%;
}

.rightpage > div:nth-child(1){
  /* background-color: #6C1CFF; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.rightpage > div:nth-child(2){
  /* background-color: #6C1CFF; */
  width: 100%;
  /* overflow: scroll; */
}
.rightpage > div:nth-child(3){
  /* background-color: #6C1CFF; */
  display: grid;
  grid-template-columns: 60% 20% 100px;
  justify-content:space-between;
  align-items: center;
  /* overflow: ; */
  width: 100%;
}

#form_div {
  /* background-color: #6C1CFF; */
  display: grid;
  grid-template-columns: 60% 20% 100px;
  justify-content:space-between;
  align-items: center;
  /* overflow: ; */
  width: 100%;
}


input {
  color:aliceblue;
  width: 90%;
  height: 25px;
  padding: 12px 20px;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* caret-color: red; */
}

::placeholder {
  color: white;
  opacity: 1;
  text-align: left; 
}

input:focus {
  outline: white;
  /* color: transparent; */
}

input:focus::placeholder{
    color:transparent;
}

input:hover{
  border:none;
  border-bottom: solid 1px rgb(255, 255, 255);
  transform-origin:  0% 50%;
}

input:after{
  display:block;
  content: '';
}

button {
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: solid .5px white;
  width: 80%;
  height: 25px;
  margin: 0 2px 0 2px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:10px;
}

button:hover{
  background-color: white;
  cursor: pointer;
}



.slide{
  animation: scrollText 15s linear infinite;
}
.reverse-text{
  display:inline-block;
  transform: rotateX(180deg);
}

.rightpage{
  background-color: #6C1CFF;
}


li {
    cursor:pointer;
}

a {
  color:black;
  text-decoration: none;
  grid-column-start: 2;
  grid-row-start: 3;
  background-color:#FFC904;
  cursor:pointer;
}



li {
  list-style: none;
}

footer{
  font-size:2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

@keyframes scrollText {
  0% {
    transform: translateX(1500px);
  }
  100% {
    transform: translateX(-1500px);
  }
}

@media screen and (max-width:800px) {
    header{
      font-size: 5vh;
    }
    .leftpage, .rightpage{
      height: 44vh;
      font-size: 24px; 
      display:grid;
      grid-template-columns: 100%; 
      grid-template-rows: 10% 80% 10%;
    }
    .leftpage > div:nth-child(1), .rightpage > div:nth-child(1){
      font-size: 2.5vh;
      margin-top: 10px;
    }
    .leftpage > div:nth-child(3), .rightpage > div:nth-child(3){
      width: 95%;
      display: grid;
      grid-template-columns: 56% 30% 20%;
    }
    main{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 88vh;
    }
}

.leftpage > form > button:hover{
  color: rgb(0, 222, 41);
}

.rightpage > form > button:hover{
  color: #6C1CFF;
}